
/****************
 JF Base Calls
 ***********/
.page {
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 20px;
}
.main{
    margin-top: 20px;
    max-width: 1300px;
    margin: auto;
   
}
.logo {
    display: block;
    margin: 0 auto;
}
.ctas {
    margin-top: 20px;
}
.header{
     padding:20px;
}
.footer {
    margin-top: 40px;
    text-align: center;
}

.logoColumn {
    display: flex;
    align-items: center;

}
.search-input {
    font-size: 2.25rem;
    height: 48px;

}
.search-container {
    margin-bottom: 16px;
}

#search-1 input {
  
    background-color: #fff !important;
    border: 3px solid orange !important;
}

/***************
 Modes
**********/

/**********
    Light mode   
*******/
.light .toggleButton {
    background-color: transparent;
    color: black;
    float: right;

}
.light .toggleButton:hover {
    background-color: rgba(0, 0, 0, 0.1);

}
.light {
  
    color: black;
    /* background-image: url(/images/background.jpg);
    background-position: bottom;
    background-repeat: none !important; */
 
    
}
.light .main {

    color: black;
}
.light .starshipList {

   padding:0px;
   margin-top:20px;
}

/******
    Dark mode 
***********/
.dark {
    background-color: #000;
    color: white;
    height:100% !important;

}
.dark .starshipList {

    background:transparent !important;
}
.dark .search {

    background: rgb(22, 22, 22) !important;
}
.dark .toggleButton {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    float: right;

}
.dark .toggleButton:hover {
    background-color: rgba(255, 255, 255, 0.3);

}
.dark .card {
    border: 1px solid #f2f2f246;
    padding: 16px;
    margin: 10px 0;
    background-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/************************
    Overriding colors for custom Utility 
***********************/
.orangetext {
    color: #FF7C00;
}
/************************
   Padding Utilitys
***********************/

.p3 {
    padding: 30px !important;
}

/**********************
     Buttons & Overides 
 **********************/
.buy-button {
    margin-left: 10px !important;
}

button.cds--btn.cds--btn--tertiary {
    border-radius: 60px;
    padding: 10px 10px 10px 10px;
}
.toggleButtonColumn {
    display: flex;
    align-items: center;
}

.toggleButton {
    margin: 16px;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid currentColor;
    cursor: pointer;
    border-radius: 4px;
    color: inherit;
    transition: background-color 0.3s ease, color 0.3s ease;

}

/*******************
     Starships list 
 ******************/

.starshipList {
    margin-top: 20px;
   
}
.starshipList .row {
    margin-top: 20px;

}
.starshipItem {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 16px;
    padding: 8px 0;
    
    
}
.shipdetails{

    border-top:1px solid #e1e1e1;
    padding-top:10px;
    margin-top:5px;
}
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}
.loading,
.error,
.noData {
    margin: 16px;
    font-size: 16px;
    color: #555;
}

.quantityControls {
    display: flex;
    align-items: center;
    margin: 10px 0
}
.quantityControls span {
    margin: 0 10px;
}
.card {
    border:1px solid #f2f2f2;
    margin: 10px 0;
    padding: 40px 0px 40px 0px !important;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.card:hover{
  
    transition: all 0.5s ease;
    box-shadow: 0 12px 14px rgba(0, 0, 0, 0.274);
   
}
.semibold {
    font-weight: 600;
}
.buyButton {
    margin-left: 10px;
    
}

.search {

    border: 1px solid #e1e1e1;
}
/*******************
    notification bar
 ******************/
.stickyNotification {
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    z-index: 9999 !important;
    width: 300px !important;

}

/*******************
   Responsive calls
 ******************/
@media (max-width: 1800px) {
    .logo {
        float: left !important;
        margin-bottom:20px;

    }
}

@media (max-width: 700px) {
    .logo {
        float: none !important;
        margin-bottom: 20px;
       

    }
    .toggleButton{
            background-color: transparent;
            color: black;
            float: none;
            width: 90%;
    }
}